{:paths   ["src/main"]
 :deps    {org.clojure/clojure        {:mvn/version "1.10.1" :scope "provided"}
           com.fulcrologic/fulcro-rad {:mvn/version "1.0.10" :scope "provided"}
           ;com.fulcrologic/fulcro-rad {:local/root "/home/chris/IdeaProjects/fulcro-rad"}
           io.replikativ/konserve     {:mvn/version "0.5.1"}
           io.replikativ/hasch        {:mvn/version "0.3.7"}
           }
 :aliases {:dev        {:extra-paths ["src/dev" "src/test" "src/demo-project" "src/play" "resources"
                                      "src/redis" "src/couchdb" "src/leveldb" "src/postgresql" "src/riak"]
                        :extra-deps  {org.clojure/tools.namespace            {:mvn/version "1.0.0"}

                                      com.fulcrologic/fulcro                 {:mvn/version "3.3.3"}
                                      com.fulcrologic/fulcro-rad-semantic-ui {:mvn/version "1.0.0"}
                                      com.fulcrologic/fulcro-i18n            {:mvn/version "0.0.4-alpha"}
                                      com.wsscode/pathom                     {:mvn/version "2.3.0-alpha10"}
                                      edn-query-language/eql                 {:mvn/version "0.0.9"}
                                      com.taoensso/encore                    {:mvn/version "2.120.0"}
                                      com.fulcrologic/guardrails             {:mvn/version "0.0.12"}

                                      ;; Performance checks
                                      com.taoensso/tufte                     {:mvn/version "2.1.0"}

                                      ;; Server
                                      mount/mount                            {:mvn/version "0.1.12"}
                                      hiccup/hiccup                          {:mvn/version "1.0.5"}
                                      ring/ring-defaults                     {:mvn/version "0.3.2"}
                                      ring/ring-core                         {:mvn/version "1.8.1"}
                                      org.immutant/web                       {:mvn/version "2.1.10"
                                                                              :exclusions  [ch.qos.logback/logback-classic]}

                                      ;; Unified logging for server
                                      com.taoensso/timbre                    {:mvn/version "4.10.0"}
                                      org.slf4j/log4j-over-slf4j             {:mvn/version "1.7.30"} ; auto sends log4j to slf4j
                                      org.slf4j/jul-to-slf4j                 {:mvn/version "1.7.30"} ; auto sends java.util.logging to slf4j
                                      org.slf4j/jcl-over-slf4j               {:mvn/version "1.7.30"} ; auto-sends java.common.logging to slf4j
                                      com.fzakaria/slf4j-timbre              {:mvn/version "0.3.19"} ; hooks slf4j to timbre

                                      thheller/shadow-cljs                   {:mvn/version "2.10.21"}
                                      org.clojure/clojurescript              {:mvn/version "1.10.758"}
                                      cjmurphy/dev-lib                       {:mvn/version "0.3.0"}

                                      ;; Put all the adaptors we support in here
                                      io.replikativ/konserve-carmine         {:mvn/version "0.1.3"}
                                      io.replikativ/konserve-leveldb         {:mvn/version "0.1.2"}
                                      io.replikativ/konserve-clutch          {:mvn/version "0.1.3"}
                                      io.replikativ/konserve-welle           {:mvn/version "0.1.0"}
                                      org.clojars.mihaelkonjevic/konserve-pg {:mvn/version "0.1.2"}
                                      }}
           ;; Having "src/demo-project" demo-project in 'test' makes Cursive mark that directory as testing on Cursive
           ;; Clojure Deps Projects refreshes, so INTENTIONAL RENAME to 'tset'. Make sure to have it ('tset') checked
           ;; in Clojure Deps Projects Aliases. Then 'marked as source' from in the IDE will 'hold' when you
           ;; 'Refresh Clojure Deps Projects'
           :tset       {:extra-paths ["src/test" "src/demo-project" "src/redis"]
                        :extra-deps  {mount                          {:mvn/version "0.1.12"}
                                      cjmurphy/dev-lib               {:mvn/version "0.3.0"}
                                      ;; Change this to the adaptor you want to run the tests for (and for :extra-paths)
                                      io.replikativ/konserve-carmine {:mvn/version "0.1.3"}
                                      }}
           :run-tests  {
                        ;:jvm-opts   ["-Dguardrails.enabled=true"]
                        :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                :sha     "6ec7f8eef509cd14d831e8cc16e856b31327a862"}}
                        :main-opts  ["-m" "cognitect.test-runner"]}
           ;; For deployment, however in actuality none required as Maven (pom files) being used directly
           :depstar    {:extra-deps {seancorfield/depstar {:mvn/version "1.1.104"}}}
           :redis      {:extra-paths ["src/redis"]
                        :extra-deps  {io.replikativ/konserve-carmine {:mvn/version "0.1.3"}}}
           :leveldb    {:extra-paths ["src/leveldb"]
                        :extra-deps  {io.replikativ/konserve-leveldb {:mvn/version "0.1.2"}}}
           :couchdb    {:extra-paths ["src/couchdb"]
                        :extra-deps  {io.replikativ/konserve-clutch {:mvn/version "0.1.3"}}}
           :riak       {:extra-paths ["src/riak"]
                        :extra-deps  {io.replikativ/konserve-welle {:mvn/version "0.1.0"}}}
           :postgresql {:extra-paths ["src/postgresql"]
                        :extra-deps  {org.clojars.mihaelkonjevic/konserve-pg {:mvn/version "0.1.2"}}}
           }}
