{:paths   ["src/main"]
 :deps    {org.clojure/clojure        {:mvn/version "1.10.1" :scope "provided"}
           com.fulcrologic/fulcro-rad {:mvn/version "1.0.0-RC1" :scope "provided"}
           com.taoensso/carmine       {:mvn/version "2.19.1"}
           com.rpl/specter            {:mvn/version "1.1.3"}}
 :aliases {:dev {:extra-paths ["src/dev" "src/play"]
                 :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.0.0"}
                               cjmurphy/dev-lib            {:mvn/version "0.1.0"}}}}}
