{:org.httpkit.server/config         {:port 3000}

 :com.fulcrologic.rad.database-adapters.key-value/databases
 ;; The one that is :main will be picked up, the others ignored, but left here for convenience if you want to switch
 ;; to one of them.
                                    {:main      {:key-value/kind             :memory
                                                 :key-value/dont-store-nils? true
                                                 :key-value/schema           :production}
                                     :ignored-1 {:key-value/kind             :filestore
                                                 :key-value/dont-store-nils? true
                                                 :key-value/schema           :production
                                                 :filestore/location         "/tmp/fulcro_rad_demo_db"}
                                     :ignored-2 {:key-value/kind             :redis
                                                 :key-value/dont-store-nils? true
                                                 :key-value/schema           :production
                                                 :redis/uri                  "redis://127.0.0.1:6379/"}
                                     }

 :ring.middleware/defaults-config   {:params    {:keywordize true
                                                 :multipart  true
                                                 :nested     true
                                                 :urlencoded true}
                                     :cookies   true
                                     :responses {:absolute-redirects     true
                                                 :content-types          true
                                                 :default-charset        "utf-8"
                                                 :not-modified-responses true}
                                     :session   true
                                     :static    {:resources "public"}
                                     :security  {:anti-forgery   false
                                                 :hsts           true
                                                 :ssl-redirect   false
                                                 :frame-options  :sameorigin
                                                 :xss-protection {:enable? true
                                                                  :mode    :block}}}

 :com.fulcrologic.rad.pathom/config {:trace?         false
                                     ;; TODO: Elide params and such in logging
                                     :sensitive-keys #{:password :com.example.model.account/password}
                                     :log-requests?  true
                                     :log-responses? true}

 :taoensso.timbre/logging-config    {:min-level :info}}